In [3]:
import pandas as pd

#### 1、加载数据

In [5]:
rnames = ['user_id','movie_id','rating','timestamp']
rates = pd.read_csv('E:\\Desktop\\thoughtwork\\ml-1m\\ratings.dat',sep='::',header=None,names=rnames,engine='python')

In [6]:
rates

         user_id  movie_id  rating  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
...          ...       ...     ...        ...
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[1000209 rows x 4 columns]

#### 2、按电影评分分组聚合求平均

In [7]:
a = rates.groupby('movie_id').agg({'rating':'mean'})

In [8]:
a

            rating
movie_id
1         4.146846
2         3.201141
3         3.016736
4         2.729412
5         3.006757
...            ...
3948      3.635731
3949      4.115132
3950      3.666667
3951      3.900000
3952      3.780928

[3706 rows x 1 columns]

#### 3、统计每个评分段电影的个数

In [9]:
bins = [0,1,2,3,4,5]#定义分组区间
se1 = pd.cut(a['rating'],bins,right=False) #指定左闭右开

In [10]:
pd.value_counts(se1) #对分组结果进行计数

[3, 4)    2114
[2, 3)    1003
[4, 5)     420
[1, 2)     159
[0, 1)       0
Name: rating, dtype: int64

#### 4、对大于4分的电影标注“推荐”

In [12]:
a['comment'] = a['rating'].map(lambda x:'推荐' if x > 4 else '不推荐')

In [13]:
a

            rating comment
movie_id
1         4.146846      推荐
2         3.201141     不推荐
3         3.016736     不推荐
4         2.729412     不推荐
5         3.006757     不推荐
...            ...     ...
3948      3.635731     不推荐
3949      4.115132      推荐
3950      3.666667     不推荐
3951      3.900000     不推荐
3952      3.780928     不推荐

[3706 rows x 2 columns]

#### 5、写入csv

In [14]:
a.to_csv('comment.csv')