In [1]:
import pandas as pd
import time,datetime

#### 加载数据

In [24]:
tags = pd.read_csv('E:\\Desktop\\ml-25m\\tags.csv')  # 用户给电影打的标签
ratings = pd.read_csv('E:\\Desktop\\ml-25m\\ratings.csv') # 用户给电影的评分
movies = pd.read_csv('E:\\Desktop\\ml-25m\\movies.csv') # 电影信息
links = pd.read_csv('E:\\Desktop\\ml-25m\\links.csv') # 电影链接到其他资源

In [3]:
tags.tail()

         userId  movieId                  tag   timestamp
1093355  162521    66934  Neil Patrick Harris  1427311611
1093356  162521   103341     cornetto trilogy  1427311259
1093357  162534   189169               comedy  1527518175
1093358  162534   189169             disabled  1527518181
1093359  162534   189169              robbery  1527518193

In [4]:
ratings.tail()

          userId  movieId  rating   timestamp
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

In [25]:
links.tail()

       movieId   imdbId    tmdbId
62418   209157  6671244  499546.0
62419   209159   297986   63407.0
62420   209163  6755366  553036.0
62421   209169   249603  162892.0
62422   209171    55323   79513.0

#### 1. 一共有多少不同的用户

In [28]:
data1 = tags.append(ratings)['userId'] #合并两个含有用户信息的表

In [29]:
print('一共有%d个不同的用户'%len(data1.drop_duplicates())) # 去重

一共有162541个不同的用户

#### 2. 一共有多少不同的电影

In [30]:
print('一共有%d个不同的电影'%len(movies['movieId'].drop_duplicates()))

一共有62423个不同的电影

#### 3.一共有多少不同的电影种类

In [31]:
temp_list=movies['genres'].str.split("|").tolist()
print('一共有%d不同的电影种类'%len(list(set([i for j in temp_list for i in j ]))))

一共有20不同的电影种类

#### 4. 一共有多少电影没有外部链接

In [39]:
print('一共有%d部电影没有外部链接'%(len(movies['movieId'].drop_duplicates())-len(links['movieId'].drop_duplicates())))

一共有0部电影没有外部链接

#### 5. 2018年一共有多少人进行过电影评分

In [42]:
#时间戳转换函数
def tim(stamp):  
    timeArray = time.localtime(stamp)
    otherStyleTime = time.strftime("%Y",timeArray)
    return otherStyleTime

In [43]:
ratings['timestamp']=ratings['timestamp'].apply(tim)

In [45]:
print('2018年一共有%d人进行过电影评分'%(len(ratings[ratings.timestamp=='2018'].drop_duplicates(['userId']))))

2018年一共有11999人进行过电影评分